<nav class="navbar navbar-expand-lg bg-primary ">
    <a class="navbar-brand text-white" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="login collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="login navbar-nav">
            <a class="nav-item nav-link  text-white" routerLink="/login">Login</a>
        </div>
    </div>
</nav>