
<p>dashboard works!</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of alluser">
        <td>{{item}}</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr> -->

      <div *ngIf="userLoginStatus" class="text-success">

        Welcome User Logged in !...

      </div>

      <div *ngIf="!userLoginStatus" class="text-danger">
        Logged out....
      </div>
      
      </tbody>
  </table>
